<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        body {
            min-height: 80vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #C85C5C;
            flex-direction: column;

        }
    </style>


</head>

<body>
    <h2>
        <%= message %>
    </h2>
    <div>
        <h1>Please Go back and try again</h1>

    </div>



</body>

</html>