<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <div class="form">
        <h1> New Task</h1>
        <form action="/task" method="post">
            <label for="work">Enter New Work</label>
            <input type="text" name="work" id="work">
            <label for="time">Enter Time</label>
            <input type="text" name="time" id="time">
            <button><a> Submit </a></button>
        </form>
        <div class="ind" >
        <a href="/task">Back to Index</a>
    </div>
    </div>
</body>
</html>